// Common Layouts for All Pages
body { background: #FAFAFA; padding: 0; margin: 0; }

.wrapper { width: 80%; margin: 0 auto; }

header { margin-bottom: 20px; }

header.hello {
  background: $blue; padding: 10px 0;
  h2 { color: #FFF; font-size: 16px; }
  img.logo { width: 300px; }
}

header.results {
  img.logo { width: 200px; }
}



// Search Form
.search {
  .procedure { width: 60%; display: inline-block; margin-right: 2%; vertical-align: top; }
  button { display: inline-block; vertical-align: top; height: 36px; padding: 0 14px; }
}


// Search Results
.results { margin-top: 10px; }
.result {
  padding-bottom: 10px; border-bottom: 1px solid $light_gray; margin-bottom: 10px;
  @include clearfix;

  .image { float: left; width: 15%; margin-right: 2%; }
  .identity { float: left; width: 53%; }
  .numbers { float:left; width: 30%; }

  h1 { font-size: 18px; }
  .location { margin-top: 20px; }

  .label { font-weight: 700; }
  .price { margin-bottom: 10px;
    &.total .value { color: #64AD43; font-size: 24px; }
  }

}
