// Common Layouts for All Pages
body { background: #FAFAFA; padding: 0; margin: 0; }
body.hello { background: url("/assets/images/hospital-room.jpg") no-repeat center center fixed;
  background-size: cover;
}

.wrapper { width: 80%; margin: 0 auto; }

header.results {
  margin-bottom: 20px;
  img.logo { width: 200px; }
}

// Home Form
.hello-wrapper {
  width: 65%; margin: 10% auto 0; border-radius: 8px; box-shadow: 0px 2px 10px rgba(#000,0.4);
}
header.hello {
  background: $blue; padding: 30px; border-radius: 8px 8px 0 0;
  h2 { color: #FFF; font-size: 16px; }
  img.logo { width: 300px; }
}

#query {
  margin: 0 auto; padding: 30px; border-radius: 0 0 8px 8px;
  background: rgba(#FFF,0.7);
  font-size: 20px;

  .employer { display: inline-block; margin-left: 10px; }
  .procedure { display: inline-block; width: 80%; margin-right: 2%; }
  .search { display: inline-block; vertical-align: top; height: 46px; padding: 0 14px; }
  span, p { font-weight: 700; }
}


// Search Form
.search {
  .procedure { width: 60%; display: inline-block; margin-right: 2%; vertical-align: top; }
  button { display: inline-block; vertical-align: top; height: 36px; padding: 0 14px; }
}


// Search Results
.results { margin-top: 10px; }
.result {
  padding-bottom: 10px; border-bottom: 1px solid $light_gray; margin-bottom: 10px;
  @include clearfix;

  .image { float: left; width: 15%; margin-right: 2%; }
  .identity { float: left; width: 53%; }
  .numbers { float:left; width: 30%; }

  h1 { font-size: 18px; }
  .location { margin-top: 20px; }

  .label { font-weight: 700; }
  .price { margin-bottom: 10px;
    &.total .value { color: #64AD43; font-size: 24px; }
  }

}
